* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Candara;
    color: #505050;
    user-select: none;
}

body {
    background: url('../assets/images/pattern.png');
}

.menu {

}

.menu ul {
    list-style: none;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu ul > li {
    background: #fff;
    width: 150px;
    padding: 10px;
    border: 1px solid #d0d0d0;
    margin: 5px;
    /*background: #180b7a;*/
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 2s;
}

.menu ul > li:hover {
    background: #180b7a;
    -webkit-animation: 1s ease;
    -o-animation: 1s ease;
    animation: 1s ease;
}

.menu ul > li a {
    color: #909090;
    text-decoration: none;
}

.menu ul > li + li:before {
    padding-right: 0.3em;
}

.outer-container {
    width: 960px;
    height: 960px;
    background: #fff;
    border: 1px solid #d0d0d0;
    transform: rotate(-45deg);
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-animation: rot 30s infinite linear;
    -moz-animation: rot 30s infinite linear;
}

@keyframes rot {
    0% {
        transform: translateZ(20px);
    }
    50%{
        background-color: rgba(255, 255, 255, 1);
    }
    100% {
        transform: rotate(180deg) translateZ(145px);
    }
}

@-webkit-keyframes rot {
    0% {
        -webkit-transform: translateZ(20px);
    }
    100% {
        -webkit-transform: rotate(180deg) translateZ(145px);
    }
}

@-moz-keyframes rot {
    0% {
        -moz-transform: translateZ(20px);
    }
    100% {
        -moz-transform: rotate(180deg) translateZ(145px);
    }
}

.outer-container1 {
    width: 960px;
    height: 960px;
    background: #fff;
    border: 1px solid #d0d0d0;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-animation: rot1 20s infinite ease-out;
    -moz-animation: rot1 20s infinite ease-out;
}

@keyframes rot1 {
    0% {
        transform: translateZ(40px);
    }
    100% {
        transform: rotate(-180deg) translateZ(145px);
    }
}

@-webkit-keyframes rot1 {
    0% {
        -webkit-transform: translateZ(40px);
    }
    100% {
        -webkit-transform: rotate(-180deg) translateZ(145px);
    }
}

@-moz-keyframes rot1 {
    0% {
        -moz-transform: translateZ(40px);
    }
    100% {
        -moz-transform: rotate(-180deg) translateZ(145px);
    }
}

.outer-container2 {
    width: 960px;
    height: 960px;
    border: 1px solid #d0d0d0;
    background: #fff;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-animation: rot2 10s infinite ease-in;
    -moz-animation: rot2 10s infinite ease-in;
}

@keyframes rot2 {
    0% {
        transform: translateZ(120px);
    }
    100% {
        transform: rotate(90deg) translateZ(100px);
    }
}

@-webkit-keyframes rot2 {
    0% {
        -webkit-transform: translateZ(120px);
    }
    100% {
        -webkit-transform: rotate(90deg) translateZ(100px);
    }
}

@-moz-keyframes rot2 {
    0% {
        -moz-transform: translateZ(120px);
    }
    100% {
        -moz-transform: rotate(90deg) translateZ(100px);
    }
}

.inner-container {
    width: 940px;
    height: 940px;
    background-color: #fff;
    background-image: url("../assets/images/pattern.png");
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    border: 1px solid #d0d0d0;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

/*ABOUT*/
.title {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
    font-weight: normal;
}

.title i {
    -webkit-animation: pulse 3s infinite ease;
    -moz-animation: pulse 3s infinite ease;
    animation: pulse 1s infinite ease;
    color: #180b7a;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        opacity: 0.5;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.service {
    width: 33%;
    height: 415px;
    padding: 10px;
    text-align: center;

    /*background: #000;*/

    /*transform: rotate(-45deg);*/
    /*border-radius: 100%;*/
    /*background: #180b7a;*/
}

/*.s1 {
  background: url("images/cloud.png") no-repeat;
  background-size: 200px;
  background-position: center center;
}

.s2 {
  background: url("images/e-commerce.png") no-repeat;
  background-size: 200px;
  background-position: center center;
}

.s3 {
  background: url("images/cloud.png") no-repeat;
  background-size: 200px;
  background-position: center center;
}

.s4 {
  background: url("images/sys-admin.png") no-repeat;
  background-size: 200px;
  background-position: center center;
}*/
/*
.s5 {
  background: url("images/management.jpg");
  background-size: cover;
  background-position: center center;
}


.s6 {
  background: url("images/mobile.jpg");
  background-size: cover;
  background-position: center center;
}*/

.service h2 {
    color: #d0d0d0;
    font-weight: normal;
}

.row {
    display: inline-flex;
}

/*CONTACTS*/
.contacts i {
    border: 1px solid #d0d0d0;
    color: #d0d0d0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #180b7a;
}

.contacts i:hover {
    background-color: #000;
    cursor: pointer;
}

.contacts p > span {
    font-weight: bold;
}

.form {
    border: 1px solid #d0d0d0;
    padding: 10px;
    background: #fff;
}

.send,
.reset {
    display: inline-block;
    margin: 5px 0;
    background: #d0d0d0;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #d0d0d0;
    transition: all 2s;
}

.active-send-btn {
    background: #180b7a;
}

.form input[type="submit"]:hover,
.form input[type="reset"]:hover {
    background: #180b7a;
    color: #fff;
}

.form input, textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d0d0d0;
    padding: 10px 0;
    resize: none;
}

.form input.ng-invalid {
    background: rgba(255, 0, 0, 0.15);
    transition: all 1s;
}

.form input:hover,
.form textarea:hover,
.form input:focus,
.form textarea:focus {
    outline: none;
}

.user-info {
    color: #909090;
    font-style: italic;
}

.user-info span:first-child {
    font-weight: bold;
    font-style: normal;
}
.text-animation {
    animation: zoomIn 3s ease reverse;
}
.error {
    color: red;
    font-weight: normal;
}

/*AUTHORIZATION*/
.user {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #d0d0d0;
    text-align: center;
    cursor: pointer;
}

.user:hover {
    background: #180b7a;
}

.user i {
    color: #909090;
    vertical-align: middle;
}

.ng-modal-overlay {
    /* полупорозрачный DIV, который охватывает весь экран */
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
}

.ng-modal-dialog {
    /* Отцентрированный даилог с тенью */
    z-index: 10000;
    position: absolute;
    width: 50%;

    /* Центрирование */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;

}

.ng-modal-dialog-content {
    padding: 0 10px;
    text-align: left;
}

.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}

.modal-content div {
    width: 50%;
    text-align: center;
}

.modal-content input {
    width: 95%;
    margin: 10px 0;
    border: 1px solid #d0d0d0;
    padding: 10px;
}

.modal-content input:focus {
    outline: none;
}

.modal-content input[type="submit"],
.modal-content input[type="reset"] {
    text-transform: uppercase;
}

.modal-content input[type="submit"]:hover,
.modal-content input[type="reset"]:hover {
    background: #909090;
    color: #fff;
}

.login {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.login li {
    width: 50%;
    float: left;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    color: #909090;
    border-bottom: 1px solid #d0d0d0;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.login li:hover,
.login li:active {
    -webkit-box-shadow: inset 0 -15px 15px #eeeeee;
    -moz-box-shadow: inset 0 -15px 15px #eeeeee;
    box-shadow: inset 0 -15px 15px #eeeeee;
    cursor: pointer;
    transition: all 0.5s;
}

.login li:first-child {
    border-right: 1px solid #d0d0d0;
}

/*ANIMATION*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

@-webkit-keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.rollIn {
    -webkit-animation-name: rollIn;
    animation-name: rollIn;
}