<h1 class="title">What we do</h1>
<div class="wrapper">
    <div class="row">
        <div class="service s1">

            <h2>
                Cloud Solutions
            </h2>
        </div>
        <div class="service s2">

            <h2>
                E-commerce Solutions
            </h2>
        </div>
        <div class="service s3">

            <h2>
                WebApp Development
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="service s4">

            <h2>
                System Administration
            </h2>
        </div>
        <div class="service s5">

            <h2>
                Managed Services
            </h2>
        </div>
        <div class="service s6">

            <h2>
                Mobile Applications
            </h2>
        </div>
    </div>
</div>

