<h2 class="title">
    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
    Our contacts
</h2>
<div class="contacts">
    <p>
        <span>Address:</span>
        Ukraine, Kharkiv
    </p>
    <p>
        <span>Email:</span>
        our@email.com
    </p>
    <p>
        <span>Our phone:</span>
        +1(045) 333 35 33
    </p>
    <p>
        <span>Follow us:</span>
        <i class="fa fa-google" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </p>
</div>


<h2 class="title">
    <i class="fa fa-question" aria-hidden="true"></i>
    Ask your question
</h2>
<div ng-controller="View2Ctrl">
    <form class="form" name="form" novalidate data-ng-submit="submit()">
        <input type="text"
               placeholder="Your name"
               data-ng-model="data.name"
               data-ng-change="change()"
               data-ng-click="send='active-send-btn'"
        />
        <br/>

        <input type="email"
               placeholder="Your email"
               data-ng-model="data.email"
               overwrite-email
               name="overwrittenEmail"
        />
        <br/>

        <input type="tel"
               placeholder="Your phone"
               data-ng-model="data.phone"
               integer
               name="validPhone"
        />
        <br/>

    <textarea placeholder="Type your message"
              data-ng-model="data.msg"
    >

    </textarea>
        <br/>

        <p class="user-info" data-ng-show="data.name">
        <span>Your name:
            <span data-ng-bind="data.name"></span>
        </span>

        </p>

        <p class="user-info" data-ng-show="data.email || form.overwrittenEmail.$error.email">
            <span>Your email:</span>
        <span data-ng-show="data.email" data-ng-cloak>
            {{data.email}}
        </span>
        <span class="error" data-ng-show="form.overwrittenEmail.$error.email">
            Email isn't valid!
        </span>
        </p>

        <p class="user-info" data-ng-show="data.phone || form.validPhone.$error.integer">
            <span>Your phone:</span>
        <span data-ng-show="data.phone">
            {{data.phone}}
        </span>
        <span class="error" data-ng-show="form.validPhone.$error.integer">
            Phone isn't valid!
        </span>
        </p>

        <p class="user-info" data-ng-show="data.msg">
            <span>Your message:</span>
            {{data.msg}}
        </p>
        <input type="submit" class="btn send" value="send" data-ng-class="send"/>
        <input type="reset" class="btn reset" data-ng-click="name=email=msg=phone=''" value="reset"/>
    </form>
</div>


