<h1 class="title">Our contacts</h1>
<div class="contacts">
    <p>
        <span>Address:</span>
        Ukraine, Kharkiv
    </p>
    <p>
        <span>Email:</span>
        our@email.com
    </p>
    <p>
        <span>Our phone:</span>
        +1(045) 333 35 33
    </p>
    <p>
        <span>Follow us:</span>

    </p>
</div>


<h1 class="title">Ask your question</h1>
<form class="contacts-form">
    <input type="text" id="name" placeholder="Your name"/>
    <br/>

    <input type="email" id="email" placeholder="Your email"/>
    <br/>

    <input id="phone" placeholder="Your phone"/>
    <br/>

    <textarea id="msg" placeholder="Type your message"></textarea>
    <br/>

    <input type="submit" class="btn"/>
    <input type="reset" class="btn"/>
</form>

