<h2 class="title">
    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
    Our contacts
</h2>
<div class="contacts">
    <p>
        <span>Address:</span>
        Ukraine, Kharkiv
    </p>
    <p>
        <span>Email:</span>
        our@email.com
    </p>
    <p>
        <span>Our phone:</span>
        +1(045) 333 35 33
    </p>
    <p>
        <span>Follow us:</span>
        <i class="fa fa-google" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </p>
</div>


<h2 class="title">
    <i class="fa fa-question" aria-hidden="true"></i>
    Ask your question
</h2>
<form class="form" name="form" novalidate >
    <input type="text" id="name" placeholder="Your name" data-ng-model="name" ng-change="change()" ng-click="send='active-send-btn'"/>
    <br/>

    <input type="email" id="email" placeholder="Your email" data-ng-model="email" overwrite-email name="overwrittenEmail"/>
    <br/>

    <input type="tel" placeholder="Your phone" data-ng-model="phone" integer name="validPhone"/>
    <br/>

    <textarea id="msg" placeholder="Type your message" data-ng-model="msg"></textarea>
    <br/>

    <p class="user-info" data-ng-show="name">
        <span>Your name:
            <span data-ng-bind="name"></span>
        </span>

    </p>

    <p class="user-info" data-ng-show="email || form.overwrittenEmail.$error.email">
        <span>Your email:</span>
        <span data-ng-show="email" data-ng-cloak>
            {{email}}
        </span>
        <span class="error" data-ng-show="form.overwrittenEmail.$error.email">
            Email isn't valid!
        </span>
    </p>

    <p class="user-info" data-ng-show="phone || form.validPhone.$error.integer">
        <span>Your phone:</span>
        <span data-ng-show="phone">
            {{phone}}
        </span>
        <span class="error" data-ng-show="form.validPhone.$error.integer">
            Phone isn't valid!
        </span>
    </p>

    <p class="user-info" data-ng-show="msg">
        <span>Your message:</span>
        {{msg}}
    </p>
    <input type="submit" class="btn send" value="send" data-ng-class="send"/>
    <input type="reset" class="btn reset" data-ng-click="name=email=msg=phone=''" value="reset"/>
</form>

